//IMPORTS
@import "import/mixins.scss";
@import "import/palette_couleurs.scss";
@import "import/variable.scss";



//ELEMENTS
body {
    background-color:$blue;
}

h1{
    text-align: center;
    margin: $titlemargin;
    color:$rouille;
}

p {
    color: $marron;
}

//CLASS & Imbrication des elements facons scss

.demo{
    width: $widht;
    height: $height;
    padding: $padding;
    margin:$titlemargin;
    background-color: $marron;
    display: inline-block;
    @include border-radius(20px);
        //Imbrications au lieu de definir .demo p on l'imbrique directement dans l'element parent
        h2{
            max-resolution: $titlemargin;
        }
        p{
            color:$vert;
        }
}

.demo2{
    @extend .demo;
}
